@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-Thin.ttf") format("truetype") weight(100);
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-Light.ttf") format("truetype") weight(300);
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype") weight(400);
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-Medium.ttf") format("truetype") weight(500);
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-SemiBold.ttf") format("truetype") weight(600);
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-Bold.ttf") format("truetype") weight(700);
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-Black.ttf") format("truetype") weight(900);
}
